@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  background: #e6e6e694;
  backdrop-filter: blur(8px) !important;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba(255, 103, 1, 0.623),
    rgba(255, 211, 117, 0.856)
  );
  border-radius: 10px;
} */

.swal2-close {
  color: #16161677 !important;
  border-radius: none !important;
  outline: none !important;
  box-shadow: none !important;
  transform: rotate(180deg) !important;
  transform-origin: center;
  transition: all 0.2s !important;
}
.swal2-close:hover {
  transform: rotate(0) !important;
  color: #161616 !important;
  transform-origin: center;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

body {
  @apply w-full h-full overflow-x-hidden;
}

.invitation {
  font-family: "Moon Dance", cursive;
}
