@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply w-full h-full overflow-x-hidden;
}

.invitation {
  font-family: "Moon Dance", cursive;
}
